*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header{
    width: 100%;
    height: 100px;
}

.logo{
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -8%;
    text-transform: uppercase;
    width: 160px;
    height: 25px;
    top: 40px;
    left: 70px;
    position: absolute;
    color: #333333;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: 
    "section1 section2"
    "section1 section3"
    "section1 section4";
    grid-gap: 20px 40px;
}

.section1 img{
    width: 540px;
    height: 415px;
    top: 180px;
    left: 120px;
}
.section1{
    /* background: lightblue; */
    grid-area: section1;
    width: 100%;
    height: 100%;
    background: white;
}
.section2{
    /* background: lightcoral; */
    grid-area: section2;
    display: flex;
    align-items: flex-end;
}
.section3{
    /* background: lightcyan; */
    grid-area: section3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.section4{
    /* background: lightgoldenrodyellow; */
    grid-area: section4;
}

.section2 .dd1 h1{
    font-family: Space Mono;
    font-size: 64px;
    font-weight: 700;
    line-height: 95px;
    font-style: normal;
}


.section3 .d1 p{
    font-family: Space Mono;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    font-style: normal;
    width: 400px;
}

.section3 .d2 button{
    width: 170px;
    height: 50px;
    background: #333333;
    color: white;
    font-family: Space Mono;
    font-style: normal;
    font-size: 14px;
    text-transform: uppercase;
}

@media all and (max-width: 400px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .section1{
        width: 100%;
        height: 100%;
        background: white;
    }
    .section1 img{
        width: 280px;
        height: 240px;
        top: 20%;
        left: 15%;
    }
    .section2{
        margin-top: 270px;
        overflow:visible;
    }
    .section2 .dd1{
        width: 350px;
        height: 142px;
    }
    .section2 .dd1 h1{
        font-family: Space Mono;
        font-size: 42px;
        font-weight: 700;
        line-height: 72px;
        font-style: normal;
    }
    .section3{
        margin-top: 50px;
        
    }
    .section3 .d1{
        width: 328px;
        height: 81px;
    }
    .section3 .d1 p{
        font-family: Space Mono;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        font-style: normal;
        width: 400px;
    }
    .section3 .d2{
        width: 216px;
        height: 68px;
        margin-top: 2rem;
    }
    .section3 .d2 button{
        width: 170px;
        height: 50px;
        background: #333333;
        color: white;
        font-family: Space Mono;
        font-style: normal;
        font-size: 14px;
        text-transform: uppercase;
    }

}


